PORT=3000
TIMEZONE=America/Detroit
WEATHER_LOCATION=White Lake, MI
WEATHER_LATITUDE=42.6389
WEATHER_LONGITUDE=-83.5033

BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
WOW_REGION=us
WOW_REALM_SLUGS=illidan,misha,sargeras

F1_SCHEDULE_FILE=./data/f1-2026.json
